*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
    width: 100%;
    height: 100vh;
    background: url(/Envelope-With-Hearts-master/images/background.png);
    background-position: center;
    background-size: cover;
}
span{
  position: absolute;
  filter: drop-shadow(0 0 1em rgba(0,0,0,0.5));
  pointer-events: none;
  animation: animHeart 1s linear infinite;
}
@keyframes animHeart {
  0%,100%{
      opacity: 0;
  }
  20%,80%{
      opacity: 1;
  }
}
span::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/Envelope-With-Hearts-master/images/heart.png);
  background-size: cover;
  animation: heart 1s linear infinite;
}
@keyframes heart {
  0%{
      transform: translate(0) rotate(0deg);
  }
  100%{
      transform: translate(20em) rotate(360deg);
  }
}


.type-j {
  font-weight: 700;
  font-family: 'Segoe Script';
  font-size: 20px;
  margin: auto;
  text-align: center;
}

#envelope {
  position: relative;
  width: 400px;
  height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.front {
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: 3;
}

.flap {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 150px solid transparent;
  border-top: 175px solid  #ffaba9;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.bottom {
  border-left: 200px solid transparent;
  border-right: 200px solid #f69795;
  border-bottom: 150px solid #ef827f;
  border-top: 150px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left {
  border-left: 200px solid #f69795;
  border-right: 200px solid transparent;
  border-bottom: 150px solid transparent;
  border-top: 150px solid transparent;
  border-bottom-left-radius: 10px;
}

.letter {
  background: #dedede;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.letter:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(215, 227, 239, 0.7)), to(#d7e3ef));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, #d7e3ef 100%);
}

.words {
  position: absolute;
  left: 10%;
  width: 84%;
  height: 14%;
  background-color: #c2c2c2;
}

.line1 {
  top: 15%;
  width: 20%;
  height: 7%;
}

.line2 {
  top: 30%;
}

.line3 {
  top: 50%;
}

.open .flap {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: z-index .6s, -webkit-transform 0.4s ease;
  transition: z-index .6s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, z-index .6s;
  transition: transform 0.4s ease, z-index .6s, -webkit-transform 0.4s ease;
  z-index: 1;
}

.close .flap {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: z-index 1s, -webkit-transform 0.4s 0.6s ease;
  transition: z-index 1s, -webkit-transform 0.4s 0.6s ease;
  transition: transform 0.4s 0.6s ease, z-index 1s;
  transition: transform 0.4s 0.6s ease, z-index 1s, -webkit-transform 0.4s 0.6s ease;
  z-index: 5;
}

.open .letter {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  transition: z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  transition: transform 0.4s 0.6s ease, z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  z-index: 2;
}

.close .letter {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: z-index 1s, -webkit-transform 0.4s ease;
  transition: z-index 1s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, z-index 1s;
  transition: transform 0.4s ease, z-index 1s, -webkit-transform 0.4s ease;
  z-index: 1;
}

.hearts {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: #e70000;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

.a1 {
  left: 20%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, 
 sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, 
 sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.a2 {
  left: 55%;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, 
 sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, 
 sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.a3 {
  left: 10%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, 
 sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, 
 sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  50% {
    top: -400px;
  }
  100% {
    top: -600px;
  }
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}

@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.envelope-wrapper {
  height: 360px;
}

.reset {
  text-align: center;
  visibility: visible;
  padding: 150px;
  top: 30%;

}

.reset button {
  font-weight: 800;
  font-style: normal;
  color: #e80400;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  background-color: transparent;
  border: solid 2px #e80400;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  text-transform: 14px;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  min-width: 120px;
}

.reset button:hover {
  background-color: #f69795;
  color: #fff;
}

.typing {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  top: 10%;
  width: 100%;
  height: 60%;
}

.flowing {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
/*# sourceMappingURL=stylesheet.css.map */

